{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Get",
          "description": "Gets the workspace.",
          "responses": {
            "200": {
              "description": "OK - Returns the workspace."
            },
            "default": {
              "description": "Error response describing why the operation failed."
            }
          }
        }
      }
    },
    "definitions": {
      "Resource": {
        "description": "The core properties of ARM resources",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the resource"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
          }
        },
        "x-ms-azure-resource": true
      }
    }
}