{
  "swagger": "2.0",
  "info": {
    "title": "DatabricksClient",
    "version": "2018-04-01",
    "description": "ARM Databricks"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/additionalProperties/true": {
      "put": {
        "operationId": "Pets_CreateAPTrue",
        "description": "Create a Pet which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "description": "The ID of the target subscription.",
            "schema":{
              "$ref":"#/definitions/PetAPTrue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Pet which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/PetAPTrue"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/additionalProperties/true-subclass": {
      "put":{
        "operationId": "Pets_CreateCatAPTrue",
        "description": "Create a CatAPTrue which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatAPTrue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A CatAPTrue which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/CatAPTrue"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/additionalProperties/type/object": {
      "put": {
        "operationId": "Pets_CreateAPObject",
        "description": "Create a Pet which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PetAPObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Pet which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/PetAPObject"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/additionalProperties/type/string": {
      "put": {
        "operationId": "Pets_CreateAPString",
        "description": "Create a Pet which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PetAPString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Pet which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/PetAPString"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/additionalProperties/in/properties": {
      "put": {
        "operationId": "Pets_CreateAPInProperties",
        "description": "Create a Pet which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PetAPInProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Pet which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/PetAPInProperties"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/additionalProperties/in/properties/with/additionalProperties/string": {
      "put": {
        "operationId": "Pets_CreateAPInPropertiesWithAPString",
        "description": "Create a Pet which contains more properties than what is defined.",
        "parameters": [
          {
            "name": "createParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PetAPInPropertiesWithAPString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Pet which contains more properties than what is defined.",
            "schema": {
              "$ref": "#/definitions/PetAPInPropertiesWithAPString"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "PetAPTrue":{
      "required": [
        "id"
      ],
      "type": "object",
      "properties":{
        "id": {
          "type":"integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "CatAPTrue": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PetAPTrue"
        }
      ],
      "properties": {
        "friendly": {
          "type": "boolean"
        }
      }
    },
    "PetAPObject": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": {
        "type": "object"
      }
    },
    "PetAPString": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": {
        "type": "string"
      }
    },
    "PetAPInProperties": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "readOnly": true
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          }
        }
      }
    },
    "PetAPInPropertiesWithAPString": {
      "type": "object",
      "required": [
        "id",
        "@odata.location"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "readOnly": true
        },
        "@odata.location": {
          "type": "string"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          }
        }
      },
      "additionalProperties": {
        "type": "string"
      }
    }
  }
}