{
    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroup}": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Get",
          "description": "Gets the workspace.",
          "parameters": [
            {
              "name": "subscriptionId",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the target subscription."
            }
          ],
          "responses": {
            "200": {
              "description": "OK - Returns the workspace."
            }
          }
        },
        "delete": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Delete",
          "description": "Gets the workspace.",
          "parameters": [
            {
              "name": "subscriptionId",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the target subscription."
            }
          ],
          "responses": {
            "200": {
              "description": "OK - Deleted the workspace."
            }
          }
        },
        "put": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_CreateOrUpdate",
          "description": "Creates a new workspace.",
          "parameters": [
            {
              "name": "subscriptionId",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the target subscription."
            }
          ],
          "responses": {
            "200": {
              "description": "OK - Created or updated the workspace."
            }
          }
        },
        "patch": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Update",
          "description": "Updates a workspace.",
          "parameters": [
            {
              "name": "subscriptionId",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the target subscription."
            },
            {
              "$ref": "#/parameters/ResourceGroupName"
            }
          ],
          "responses": {
            "200": {
              "description": "OK - Updated the workspace."
            }
          }
        }
      }
    },
    "parameters": {
      "ResourceGroupName":{
        "name": "resourceGroup",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group. The name is case insensitive.",
        "pattern": "^[-\\w\\._\\(\\)]+$",
        "minLength": 1,
        "maxLength": 90
      }
    }
}