{

    "swagger": "2.0",
    "info": {
      "title": "AutoRestUpgradeClient",
      "version": "2018-04-01",
      "description": "ARM AutoRestUpgrade"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Get",
          "description": "Gets the workspace.",
          "responses": {
            "200": {
              "description": "Ok-Return"
            }
          }
        },
        "delete": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Delete",
          "description": "Deletes the workspace",
          "responses": {
            "200": {
              "description": "Ok-Return"
            }
          }
        },
        "put": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_CreateOrUpdate",
          "description": "Creates a new workspace.",
          "responses": {
            "200": {
              "description": "Ok-Return"
            }
          }
        },
        "patch": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Update",
          "description": "Updates a workspace.",
          "responses": {
            "202": {
              "description": "Accepted"
            }
          }
        }
      }
    }
}