{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/users": {
        "get": {
          "tags": [
            "users"
          ],
          "operationId": "users_Get",
          "description": "get user list.",
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "delete": {
          "tags": [
            "users"
          ],
          "operationId": "users_Delete",
          "description": "delete a user.",
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "put": {
          "tags": [
            "users"
          ],
          "operationId": "users_CreateOrUpdate",
          "description": "Create or Update a user.",
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "post": {
          "tags": [
            "users"
          ],
          "operationId": "users_Update",
          "description": "Update a user.",
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      }
    }
}