{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/providers/Microsoft.Databricks/workspaces": {
          "get": {
              "tags": [
                "Workspaces"
              ],
              "operationId": "Workspaces_ListBySubscription",
              "description": "Gets all the workspaces within a subscription.",
              "parameters": [
                {
                  "name": "subscriptionId",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the target subscription."
                }
              ],
              "responses": {
                "200": {
                    "description": "OK - Returns an array of workspaces."
                },
                "default": {
                    "description": "Error response describing why the operation failed.",
                    "schema": {
                      "$ref": "https://github.com/Azure/autorest.powershell/blob/main/tests-upgrade/examples/RemoteDefinitions.json#definitions/ErrorResponse"
                    }
                }
              }
          }
      }
    }
}