{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/TableFormatting": {
        "get": {
          "tags": [
            "TableFormatting"
          ],
          "operationId": "TableFormatting_Get",
          "description": "Table Formatting",
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      }
    },
    "definitions": {
      "VirtualMachine": {
        "description": "The core properties of ARM resources",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Fully qualified VirtualMachine Id for the VirtualMachine. "
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the VirtualMachine"
          },
          "ResourceGroup": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the resource."
          }
        }      
      }
    }
}