{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/resourceGroup": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "operationId": "Workspaces_Get",
          "description": "Gets the workspace.",
          "responses": {
            "200": {
                "description": "OK-Return workspace.",
                "schema":{
                  "$ref": "#/definitions/Workspace"
                }
            },
            "default": {
              "description": "Error response describing why the operation failed."
            }
          }
        }
      }
    },
    "definitions": {
        "ErrorDetail": {
          "type": "array",
          "items":{
            "type": "integer"
          },
          "uniqueItems": true
        },
        "ErrorList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "minItems": 1,
          "maxItems": 10
        },
        "ErrorCode": {
          "type": "array",
          "items": {
            "type":"array",
            "items": {
              "type": "integer"
            }
          }
        },
        "Workspace":{
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "sku": {
                "type": "string"
              },
              "location": {
                "type": "string"
              }
            }
          }
        }
    }
}