{
  "swagger": "2.0",
  "info": {
    "title": "DatabricksClient",
    "version": "2018-04-01",
    "description": "ARM Databricks"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/parameterGrouping/postRequired/{path}": {
      "post": {
        "operationId": "parameterGrouping_postRequired",
        "description": "Post a bunch of required parameters grouped",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description":"Post a bunch of required parameters grouped",
            "schema":{
              "type":"integer",
              "format":"int32"
            },
            "x-ms-parameter-grouping": {
            }
          },
          {
            "name": "customHeader",
            "in": "header",
            "type": "string",
            "required": false,
            "x-ms-parameter-grouping": {
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "Query parameter with default",
            "x-ms-parameter-grouping": {
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Path parameter",
            "x-ms-parameter-grouping": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"

          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/parameterGrouping/postOptional": {
      "post":{
        "operationId": "parameterGrouping_postOptional",
        "description": "Post a bunch of optional parameters grouped",
        "parameters": [
          {
            "name": "customHeader",
            "in": "header",
            "type": "string",
            "required": false,
            "x-ms-parameter-grouping": {
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "Query parameter with default",
            "x-ms-parameter-grouping": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/parameterGrouping/postMultipleParameterGroups": {
      "post": {
        "operationId": "parameterGrouping_postMultiParamGroups",
        "description": "Post parameters from multiple different parameter groups",
        "parameters": [
          {
            "name": "header-one",
            "in": "header",
            "type": "string",
            "required": false,
            "x-ms-parameter-grouping": {
              "name": "first-parameter-group"
            }
          },
          {
            "name": "query-one",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "Query parameter with default",
            "x-ms-parameter-grouping": {
              "name": "first-parameter-group"
            }
          },
          {
            "name": "header-two",
            "in": "header",
            "type": "string",
            "required": false,
            "x-ms-parameter-grouping": {
              "postfix": "second-param-group"
            }
          },
          {
            "name": "query-two",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "Query parameter with default",
            "x-ms-parameter-grouping": {
              "postfix": "second-param-group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/parameterGrouping/sharedParameterGroupObject": {
      "put": {
        "operationId": "parameterGrouping_postSharedParameterGroupObject",
        "description": "Post parameters with a shared parameter group object",
        "parameters": [
          {
            "name": "header-one",
            "in": "header",
            "type": "string",
            "required": false,
            "x-ms-parameter-grouping": {
              "name": "first-parameter-group"
            }
          },
          {
            "name": "query-one",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "Query parameter with default",
            "x-ms-parameter-grouping": {
              "name": "first-parameter-group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type":  "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}