parameters:
  "service-dir":
    default: "sdk/storagemover"
emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    omit-unreachable-types: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    output-file: "{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/storagemover.json"
    examples-dir: "{project-root}/examples"
  "@azure-tools/typespec-csharp":
    emitter-output-dir: "{output-dir}/{service-dir}/{namespace}"
    flavor: azure
    clear-output-folder: true
    model-namespace: true
    namespace: "Azure.ResourceManager.StorageMover"
  "@azure-tools/typespec-python":
    emitter-output-dir: "{output-dir}/{service-dir}/azure-mgmt-storagemover"
    namespace: "azure.mgmt.storagemover"
    generate-test: true
    generate-sample: true
    flavor: "azure"
  "@azure-tools/typespec-java":
    emitter-output-dir: "{output-dir}/{service-dir}/azure-resourcemanager-storagemover"
    namespace: "com.azure.resourcemanager.storagemover"
    service-name: "Storage Mover"
    flavor: azure
    use-object-for-unknown: true
  "@azure-tools/typespec-ts":
    service-dir: sdk/storagemover
    emitter-output-dir: "{output-dir}/{service-dir}/arm-storagemover"
    is-modular-library: true
    flavor: "azure"
    experimental-extensible-enums: true
    package-details:
      name: "@azure/arm-storagemover"
  "@azure-tools/typespec-go":
    service-dir: "sdk/resourcemanager/storagemover"
    emitter-output-dir: "{output-dir}/{service-dir}/armstoragemover"
    module: "github.com/Azure/azure-sdk-for-go/{service-dir}/armstoragemover"
    fix-const-stuttering: true
    flavor: "azure"
    generate-samples: true
    generate-fakes: true
    head-as-boolean: true
    inject-spans: true
  "@azure-tools/typespec-powershell":
    service-dir: "src"
    package-dir: "StorageMover/StorageMover.Autorest"
    clear-output-folder: true
    azure: true
    module-version: 0.1.0
    skip-model-cmdlets: false
    help-link-prefix: https://learn.microsoft.com/powershell/module/
    prefix: 'Az'
    subject-prefix: 'StorageMover'
    title: StorageMover
    service-name: StorageMover
    module-name: "{prefix}.{service-name}"
    metadata:
      authors: Microsoft Corporation
      owners: Microsoft Corporation
      description: "Microsoft Azure PowerShell: {module-name} cmdlets"
      copyright: Microsoft Corporation. All rights reserved.
      tags: "Azure ResourceManager ARM PSModule {module-name}"
      companyName: Microsoft Corporation
      requireLicenseAcceptance: true
      licenseUri: https://aka.ms/azps-license
      projectUri: https://github.com/Azure/azure-powershell
    namespace: "Microsoft.Azure.PowerShell.Cmdlets.{service-name}"
    use-namespace-folders: false
    exclude-tableview-properties:
      - Id
      - Type
    directive:
      - where:
          subject: Operation
        hide: true
      - where:
          parameter-name: SubscriptionId
        set:
          default:
            script: '(Get-AzContext).Subscription.Id'
  # Following are common directives which are normally required in all the RPs
  # 1. Remove the unexpanded parameter set
  # 2. For New-* cmdlets, ViaIdentity is not required
      - where:
          variant: ^(Create|Update)(?!.*?Expanded|ViaJsonString|ViaJsonFilePath)
        remove: true
      - where:
          variant: ^CreateViaIdentity.*$
        remove: true
      # Remove the set-* cmdlet
      - where:
          verb: Set
        hide: true
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
