{

    "swagger": "2.0",
    "info": {
      "title": "DatabricksClient",
      "version": "2018-04-01",
      "description": "ARM Databricks"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/pets": {
        "patch": {
          "tags": [
            "pets"
          ],
          "operationId": "Pets_Update",
          "description": "Gets pet list.",
          "parameters": [
            {
                "name": "pets",
                "in": "body",
                "required": true,
                "description": "The pets update.",
                "schema": {
                    "$ref":"#/definitions/Dog"
                }
            }
          ],
          "responses": {
            "200": {
                "description": "OK-Return workspace."
            }
          }
        }
      }
    },
    "definitions": {
        "Pet": {
            "type": "object",
            "properties": {
              "petType": {
                "type": "string"
              }
            }
        },
        "Dog":{
            "type": "object",
            "properties": {
                "bark": {
                    "type": "boolean"
                },
                "breed": {
                    "type": "string"
                }
            }
        },
        "Cat": {
            "allOf": [
              {
                "$ref": "#/definitions/Pet"

              },
              {
                  "type": "object",
                  "properties": {
                      "hunts": {
                          "type": "boolean"
                      },
                      "age": {
                          "type": "integer"
                      }
                  }
              }
            ]
            
        }
    }
}