# Please don't use ADO UI defined scheduled triggers because it takes precedence over YAML scheduled triggers.
# https://learn.microsoft.com/en-us/azure/devops/pipelines/process/scheduled-triggers
schedules:
- cron: "0 0 * * *"
  displayName: Daily Midnight Build
  branches:
    include:
    - main

trigger: none
pr: none

pool:
  name: Azure Pipelines
  demands: npm

steps:
- task: NodeTool@0
  displayName: 'Use Node 14.15.5'
  inputs:
    versionSpec: 14.15.5

- task: Npm@1
  displayName: 'Install autorest@latest'
  inputs:
    command: custom
    verbose: false
    customCommand: 'install -g "autorest"'

- task: Npm@1
  displayName: 'Install @microsoft/rush'
  inputs:
    command: custom
    verbose: false
    customCommand: 'install -g @microsoft/rush@5.12.0'

- task: CmdLine@2
  displayName: 'Rush sync-versions'
  inputs:
    script: 'rush sync-versions' 

- task: CmdLine@2
  displayName: 'Rush Update'
  inputs:
    script: 'rush update' 

- task: CmdLine@2
  displayName: 'Rush Rebuild'
  inputs:
    script: 'rush rebuild'
